/* 공통 스타일 */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* ==============================================heaader================================== */
  /* top */
  #top {
    width: 100%;
    height: 300px;
  }
  
  /* .top-top */
  .top-top {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 2px solid #ededed;
  }
  
  .tt-box {
    width: 1100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  
  .mini-shortcut {
    margin-left: 50px;
  }
  
  .ms-list li {
    padding: 5px;
    float: left;
    font-size: 0.8rem;
  }
  
  .ms-list li a {
    color: #878787;
  }
  
  .top-top-menu {
    margin-right: 50px;
  }
  
  .ttm-list li {
    float: left;
    padding: 5px;
    font-size: 0.8rem;
  }
  
  .ttm-list li a {
    color: #878787;
  }
  
  /* .top-mid */
  .top-mid {
    width: 100%;
    height: 200px;
    padding: 20px;
    text-align: center;
  }
  
  .top-mid a {
    width: 1100px;
    height: 160px;
  }
  
  .top-mid a img {
    width: 250px;
    height: 160px;
  }
  
  /* .top-btm */
  @keyframes down {
    0%{
      transform: translateY(-50px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  #top-btm {
    width: 100%;
    height: 50px;
    background-color: #edfed6;
  }
  
  .top-btm_fixed {
    width: 100%;
    height: 50px;
    background-color: #edfed6;
    position: fixed;
    z-index: 10;
    top: 0;
    animation: down 0.3s ease-in-out;
  }
  
  .top-btm-menu .tbm-list {
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .tbm-list-li,
  .view-all-menu {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .top-btm-menu .tbm-list li {
    position: relative;
  }
  
  .top-btm-menu li:hover ul,li {
    z-index: 11;
    display: block;
  }
  
  .sub_all_menu {
    z-index: 10;
    width: 1100px;
    height: 200px;
    padding: 5px;
    position: absolute;
    background: #edfed6;
    top: 50px;
    left: -20px;
    display: none;
  }
  
  .sub_all_menu ul {
    font-weight: bold;
    font-size: 1rem;
    line-height: 3;
  }
  
  .sub_all_menu ul li {
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .top-btm-menu li:hover .sub_all_menu {
    display: flex;
    z-index: 11;
  }
  
  .sub_menu {
    width: 300px;
    padding: 10px;
    position: absolute;
    background: #edfed6;
    z-index: 10;
    top: 50px;
    left: -10px;
    font-size: 0.9rem;
    line-height: 1.5;
    display: none;
  }
  
  .sub_menu li {
    display: block;
    text-align: left;
  }
  
  /* =======================================sideNav===================================== */

/* #sideNav */
#sideNav {
    padding-top: 20px;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 10;
  }
  
  .lr_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
  }
  
  #scroll_left,
  #scroll_right {
    margin: 0;
  }
  
  #scroll_left {
    border: none;
    width: 200px;
    height: 900px;
    position: relative;
    left: 0;
  }
  
  #ad1,
  #ad2 {
    position: absolute;
  }
  
  #scroll_left img {
    width: 200px;
    height: 900px;
  
  }
  
  #left_scroll_btn {
    width: 50px;
    height: 50px;
    left: 200px;
    position: absolute;
    top: 420px;
    font-size: 2rem;
    border: none;
  }
  
  .fix_btn {
    top: 420px;
  }
  
  .fixed_btn {
    top: 400px;
  }
  
  
  #scroll_right {
    border: 1px solid #ccc;
    right: 0;
    width: 150px;
    height: 703px;
  }
  
  .right_banner,
  .quick_btn_cart,
  .scroll_right_cont,
  .go_QnA,
  .go_review {
    width: 150px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .right_banner {
    background: #B1CE57;
  }
  
  .quick_btn_cart {
    height: 150px;
    background: #fff;
  }
  
  .scroll_right_cont {
    height: 400px;
    background: #f8f8f8;
    padding: 20px 25px;
    position: relative;
  }
  
  .scroll_right_cont div p {
    font-size: 0.8rem;
    color: #999;
  }
  
  .justview {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: #000;
  }
  
  .justview .justview_pic {
    width: 100px;
    height: 100px;
  }
  
  .go_QnA,
  .go_review {
    border-top: 1px dotted #ccc;
    background: #fff;
  }
  
  .go_top_bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 750px;
    right: 50px;
  }
  
  .go_top_bottom button {
    border: none;
    width: 50px;
    height: 50px;
    background: #B1CE57;
    border: 1px solid #fff;
  }
  
  #go_bottom {
    transition: opacity 0.5s ease-in-out;
  }
  
  .fadeOut {
    opacity: 0;
  }
  
  .fadeIn {
    opacity: 1;
  }
  