/* 공통 스타일 */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* ==============================================heaader================================== */
  /* top */
  #top {
    width: 100%;
    height: 300px;
  }
  
  /* .top-top */
  .top-top {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 2px solid #ededed;
  }
  
  .tt-box {
    width: 1100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  
  .mini-shortcut {
    margin-left: 50px;
  }
  
  .ms-list li {
    padding: 5px;
    float: left;
    font-size: 0.8rem;
  }
  
  .ms-list li a {
    color: #878787;
  }
  
  .top-top-menu {
    margin-right: 50px;
  }
  
  .ttm-list li {
    float: left;
    padding: 5px;
    font-size: 0.8rem;
  }
  
  .ttm-list li a {
    color: #878787;
  }
  
  /* .top-mid */
  .top-mid {
    width: 100%;
    height: 200px;
    padding: 20px;
    text-align: center;
  }
  
  .top-mid a {
    width: 1100px;
    height: 160px;
  }
  
  .top-mid a img {
    width: 250px;
    height: 160px;
  }
  
  /* .top-btm */
  @keyframes down {
    0%{
      transform: translateY(-50px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  #top-btm {
    width: 100%;
    height: 50px;
    background-color: #edfed6;
  }
  
  .top-btm_fixed {
    width: 100%;
    height: 50px;
    background-color: #edfed6;
    position: fixed;
    z-index: 10;
    top: 0;
    animation: down 0.3s ease-in-out;
  }
  
  .top-btm-menu .tbm-list {
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .tbm-list-li,
  .view-all-menu {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .top-btm-menu .tbm-list li {
    position: relative;
  }
  
  .top-btm-menu li:hover ul,li {
    z-index: 11;
    display: block;
  }
  
  .sub_all_menu {
    z-index: 10;
    width: 1100px;
    height: 200px;
    padding: 5px;
    position: absolute;
    background: #edfed6;
    top: 50px;
    left: -20px;
    display: none;
  }
  
  .sub_all_menu ul {
    font-weight: bold;
    font-size: 1rem;
    line-height: 3;
  }
  
  .sub_all_menu ul li {
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .top-btm-menu li:hover .sub_all_menu {
    display: flex;
    z-index: 11;
  }
  
  .sub_menu {
    width: 300px;
    padding: 10px;
    position: absolute;
    background: #edfed6;
    z-index: 10;
    top: 50px;
    left: -10px;
    font-size: 0.9rem;
    line-height: 1.5;
    display: none;
  }
  
  .sub_menu li {
    display: block;
    text-align: left;
  }
  
  /* =======================================sideNav===================================== */
  
  /* #sideNav */
  #sideNav {
    padding-top: 20px;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 0;
  }
  
  .lr_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
  }
  
  #scroll_left,
  #scroll_right {
    margin: 0;
  }
  
  #scroll_left {
    border: none;
    width: 200px;
    height: 900px;
    position: relative;
    left: 0;
  }
  
  #ad1,
  #ad2 {
    position: absolute;
  }
  
  #scroll_left img {
    width: 200px;
    height: 900px;
  
  }
  
  #left_scroll_btn {
    width: 50px;
    height: 50px;
    left: 200px;
    position: absolute;
    top: 420px;
    font-size: 2rem;
    border: none;
  }
  
  .fix_btn {
    top: 420px;
  }
  
  .fixed_btn {
    top: 400px;
  }
  
  
  #scroll_right {
    border: 1px solid #ccc;
    right: 0;
    width: 150px;
    height: 703px;
  }
  
  .right_banner,
  .quick_btn_cart,
  .scroll_right_cont,
  .go_QnA,
  .go_review {
    width: 150px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .right_banner {
    background: #B1CE57;
  }
  
  .quick_btn_cart {
    height: 150px;
    background: #fff;
  }
  
  .scroll_right_cont {
    height: 400px;
    background: #f8f8f8;
    padding: 20px 25px;
    position: relative;
  }
  
  .scroll_right_cont div p {
    font-size: 0.8rem;
    color: #999;
  }
  
  .justview {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: #000;
  }
  
  .justview .justview_pic {
    width: 100px;
    height: 100px;
  }
  
  .go_QnA,
  .go_review {
    border-top: 1px dotted #ccc;
    background: #fff;
  }
  
  .go_top_bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 750px;
    right: 50px;
  }
  
  .go_top_bottom button {
    border: none;
    width: 50px;
    height: 50px;
    background: #B1CE57;
    border: 1px solid #fff;
  }
  
  #go_bottom {
    transition: opacity 0.5s ease-in-out;
  }
  
  .fadeOut {
    opacity: 0;
  }
  
  .fadeIn {
    opacity: 1;
  }
  

/* #mid */
#mid {
    width: 100%;
}

/* .mid-top */
.mid_container {
    width: 1100px;
    display: flex;
    justify-content: space-around;
}

.dog_tap, .cat_tap, .hamster_tap, .event_tap {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_subject {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 225px;
    margin: 60px 0 20px;
    border-bottom: 1px solid #ddd;
    z-index: 5;
}

.sub_taps {
    font-size: 0.8rem;
    text-align: center;
}

.sub_taps span {
    border-bottom: 1px solid #ddd;
}

.product {
    margin: 50px 0;
}

.product img {
    width: 250px;
    height: 250px;
}

.descript {
    display: flex;
    flex-direction: column;
}

.descript p {
    margin: 5px auto;
}

.product_title {
    font-weight:1000;
}

.product_price {
    font-size: 0.9rem;
    font-weight:1000;
    color: #951;
}

.new_icon {
    background: #fb6;
    padding: 1px 5px;
    color: #fff;
    border-radius: 3px;
    font-size: 0.7rem;
    display: inline;
    margin: 0 auto;
}

/* .mid-mid */




/* .mid-bottom */



/* #bottom */
#bottom {
    width: 100%;
    height: 300px;
    border-top: 2px solid #BEDAA4;
    background: #ededed;
}

/* .btm-box */
.btm-box {
    width: 1100px;
    height: 150px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info-title {
    font-weight: bold;
}

.info-content {
    font-size: 0.8rem;
}

.cst-center {
    width: 330px;
    margin-left: 0;
}

.bank-info {
    width: 330px;
}

.btm-icon {
    width: 350px;
    margin: 0;
}

.btm-icon-list {
    display: flex;
    justify-content: space-around;
}

.btm-icon-list img {
    width: 50px;
    height: 50px;
    border: 1px solid #BEDAA4;
    background-color: #fff;
    border-radius: 50%;
}

.btm-icon-list li {
    padding: 10px;
}

/* #ftr-box */
#ftr-box {
    width: 100%;
    height: 150px;
    background: #221A11;
    color: #fff;
    font-size: 0.8rem;
}

.footer-info {
    width: 1100px;
    height: 150px;
    text-align: center;
    line-height: 2;
}

.ftr-tags {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
}

.ftr-tags a {
    color: #fff;
}